/* --- Simple Info List --- */
.about__info {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &-left {
        grid-column: span 7;
    }

    &-right {
        grid-column: span 5;
    }
}

.about__info-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }
}

.about__info-title {
    color: $c-accent;
    margin-right: 5px;
    font-weight: 600;
}
/* --- End Simple Info List --- */

/* --- Info block with Icon --- */
.about__info-list-w-icon {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.about__info-block-w-icon {
    grid-column: span 6;

    .about__info-icon {
        display: table-cell;
        width: 54px;
        padding-right: 25px;
    }
    .about__info-text {
        h4 {
            margin: 5px 0;
        }
        p {
            font-size: 0.95em;
        }
    }
}

.about__info-icon {
    i {
        position: relative;
        font-size: 42px;
        color: $c-accent;
        opacity: 0.7;
    }
}
/* --- End Info block with Icon --- */

/* --- Fun facts --- */

.about__fun-facts {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.about__fun-fact {
    position: relative;
    text-align: center;
    margin: 0 0 15px;
    background: #333;
    padding: 25px 10px 15px;
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: none;
    overflow: hidden;
    transition: all $base-duration ease-in-out;
}

.about__fun-fact {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
    }
}

.about__fun-fact {
    h4 {
        font-size: 16px;
        margin: 15px;
    }
}

.about__fun-fact {
    i {
        position: relative;
        font-size: 33px;
        color: $c-accent;
        margin-bottom: 6px;
        width: 33px;
        height: 33px;
    }
}

.about__fun-fact-value {
    color: #aaa;
    font-size: 36px;
    line-height: 50px;
    display: block;
    margin: 15px 0 10px;
}

.about__fun-fact-text {
    display: block;
}
/* --- End of Fun facts --- */

@media only screen and (max-width: 1200px) {
    .about__info-left {
        grid-column: span 12;
    }

    .about__info-right {
        grid-column: span 12;
    }

    .about__info-block-w-icon {
        grid-column: span 12;
    }

    .about__fun-fact {
        margin: 0;
        grid-column: span 3;
    }
}
