/* --- Simple Info List --- */
.about__info {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &-left {
        grid-column: span 7;

        p {
            font-size: 20px;
            margin: 0;
        }
    }

    &-right {
        grid-column: span 5;
    }
}

.about__info-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }
}

.about__info-title {
    margin-right: 8px;
    color: darken($c-accent, 30%);
    font-weight: 600;
}

.about__info-mail {
    font-size: 13px;
}

/* --- End Simple Info List --- */

/* --- Info block with Icon --- */
.about__info-list-w-icon {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;

    margin: 0;
    padding: 0;
}

.about__info-block-w-icon {
    grid-column: span 6;
    padding: 0;

    h4 {
        margin: 8px 0;
    }
}

/* --- End Info block with Icon --- */

@media only screen and (max-width: 1200px) {
    .about__info-left {
        grid-column: span 12;
    }

    .about__info-right {
        grid-column: span 12;
    }

    .about__info-block-w-icon {
        grid-column: span 12;
    }
}