/* --- Simple Info List --- */
.about__info {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &-left {
        grid-column: span 7;

        p {
            margin: 0;
        }
    }

    &-right {
        grid-column: span 5;
    }
}

.about__info-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }
}

.about__info-title {
    color: $c-accent;
    margin-right: 8px;
    font-weight: 600;
}
/* --- End Simple Info List --- */

/* --- Info block with Icon --- */
.about__info-list-w-icon {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.about__info-block-w-icon {
    grid-column: span 6;
    .about__info-text {
        h4 {
            margin: 8px 0;
        }
    }
}
/* --- End Info block with Icon --- */

@media only screen and (max-width: 1200px) {
    .about__info-left {
        grid-column: span 12;
    }

    .about__info-right {
        grid-column: span 12;
    }

    .about__info-block-w-icon {
        grid-column: span 12;
    }
}
