.contact__content {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    &-left {
        grid-column: span 4;
    }

    &-right {
        grid-column: span 8;
    }
}

.contact__field {
    position: relative;
    margin: 0 0 20px;

    label {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}

.contact__input {
    position: relative;
    display: block;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    height: 42px;
    font-family: 'Poppins', Helvetica, sans-serif;
    background: 0 0;
    background-color: transparent;
    border: 2px solid #f8ebff;
    border-radius: 5px;
    color: inherit;
    box-shadow: none;
    outline: none;
    transform: translateZ(0);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.1);

    &--error:invalid {
        border-color: #ee6464;
    }
}

textarea.contact__input {
    height: auto;
}

.contact__input ~ .contact__input-border {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 100%;
    border-radius: 5px;
    opacity: 0;
    background: transparent;
    border: 2px solid $c-accent;
    border-right-width: 0;
    height: 100%;
    transition: all $base-duration ease-in-out;
}

.contact__input:focus ~ .contact__input-border {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
    border-right-width: 2px;
}

.contact__info {
    text-align: center;
    width: 100%;
    margin: 0 0 15px 0;
    background-color: $c-on-surface;
    padding: 20px 10px;

    &:last-child {
        margin-bottom: 0;
    }

    i {
        font-size: 33px;
        color: $c-accent;
        z-index: 1;
    }

    h4 {
        font-size: 15px;
        margin-top: 8px;
    }
}

.contact__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-left,
    &-right {
        flex: 0 0 48%;
    }
}

.contact__submit-message {
    margin-top: 16px;
    color: $c-accent;
}

@media only screen and (max-width: 1200px) {
    .contact__content-left {
        grid-column: span 12;
    }

    .contact__content-right {
        grid-column: span 12;
    }

    .contact__fields-left,
    .contact__fields-right {
        flex: 0 0 100%;
    }
}
