.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: $c-on-background;
}

.preloader-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: inherit;
    color: inherit;
    opacity: 1;
    transition: opacity $base-duration;
    transform: translate3d(-50%, -50%, 0);
}

.preloader-spinner {
    width: 52px;
    height: 52px;
    margin: 100px auto;
    background-color: $c-accent;

    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
