@media only screen and (min-width: 1025px) {
    .header {
        float: left;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 380px;
        height: 100%;
        max-height: 80vh;
        min-height: inherit;
        text-align: center;
        padding: 70px 30px 45px;
        border: 5px solid $c-black;
        overflow: auto;
    }

    /* --- Navigation --- */
    .header__menu {
        position: absolute;
        top: -16px;
        right: -90px;
        padding: 0;
        width: 70px;
        z-index: 999;
        list-style: none;
        background-color: $c-accent;
        border: 4px solid $c-black;
    }

    .header__menu-link {
        display: block;
        position: relative;
        color: $c-black;
        padding: 12px 10px;
        transition: all $base-duration ease-in-out;

        &--active,
        &:focus,
        &:hover {
            background-color: $c-white;
        }

        &:hover {
            .header__menu-text {
                transform: translateX(-110%);
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .header__menu-icon {
        display: block;
        font-size: 30px;
    }

    .header__menu-text {
        position: absolute;
        padding: 4px 10px;
        background-color: $c-accent;
        white-space: nowrap;
        right: 0;
        top: -50%;
        margin-top: 50%;
        visibility: hidden;
        opacity: 0;
        transition: all $base-duration ease-in-out;
        box-shadow: -3px -3px 0px rgba(46, 22, 22, 0.9);
    }

    /* --- End Navigation --- */
}

/* --- Arrow Nav --- */
.header__arrows-nav {
    position: absolute;
    width: 60px;
    right: -80px;
    background-color: $c-accent;
    border: 4px solid $c-black;
    z-index: 98;
    bottom: 0;
}

.header__arrow-right,
.header__arrow-left {
    width: 100%;
    color: $c-black;
    top: 2px;
    padding: 12px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all $base-duration ease-in-out;

    &:hover {
        border: none;
        background-color: $c-white;
    }
}

/* --- End Arrow Nav --- */

.header__photo {
    position: relative;
    width: 200px;
    margin: 0 auto 20px;
    z-index: 1;

    img {
        display: block;
        max-width: 100%;
        background-color: $c-white;
        border-radius: 50%;
    }

    &:after {
        position: absolute;
        top: 7%;
        left: 7%;
        border-radius: 300px;
        content: '';
        height: calc(100% + 0px);
        width: calc(100% + 0px);
        background-image: -webkit-repeating-radial-gradient(center center,
                $c-secondary,
                $c-secondary 2px,
                transparent 0px,
                transparent 100%);
        background-size: 10px 10px;
        animation: slide 20s infinite linear forwards;
        z-index: -1;
    }
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.header__titles {
    h2 {
        font-size: 34px;
        margin: 4px 0;
        line-height: 1.2em;
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 4px 0;
        line-height: 1.2em;
    }
}

/* --- Social Links --- */
.header__social-links {
    margin: 16px 0;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0 4px;
    }
}

.header__social-link {
    color: $c-black;
    text-decoration: underline;
    text-shadow: 0px 4px 4px $c-secondary;
    transition: all $base-duration ease-in-out;

    &:hover {
        text-shadow: 0px 4px 4px darken($c-secondary, 10%);
    }
}

/* --- End Social Links --- */

.header__slider-button {
    position: absolute;
    margin: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 1;
    background: adjust-hue($c-accent, 140deg);
    transform: translateY(0px);
    transition: transform 0.6s;
}

.header__toggle-theme-wrapper {
    position: absolute;
    z-index: 999;
    top: 292px;
    right: -62px;
    width: 40px;
    height: 64px;
    border-radius: 35px;
    background: $c-white;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);

    .header__slider-wrapper {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .header__toggle-theme {
        display: none;
    }
}

@media only screen and (max-width: $tablet) {
    .header {
        position: absolute;
        width: 100%;
        max-width: 330px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $c-accent;
        z-index: 99;
        padding: 30px 30px 10px 30px;
        text-align: center;
        opacity: 1;
        visibility: visible;
        overflow: auto;
        transition: all $base-duration ease-in-out;
    }

    .header__titles {
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
        }
    }

    .header__photo {
        max-width: 130px;
        margin-bottom: 25px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .mobile-menu-hide {
        width: 0;
        right: 0;
        margin-right: -100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        box-shadow: none;
    }

    .header__menu {
        margin: 20px 0;
        padding: 0;
        list-style: none;
    }

    .header__menu-link {
        display: block;
        color: $c-black;
        padding: 12px 0;
        line-height: 21px;

        &--active {
            color: $c-white;
        }
    }

    .header__menu-icon {
        display: none;
    }

    .header__menu-text {
        font-size: 16px;
        line-height: 21px;
    }

    .header__toggle-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 48px;
        height: 48px;
        font-size: 20px;
        line-height: 46px;
        text-align: center;
        border-radius: 30px;
        background-color: $c-accent;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 900;

        span {
            position: absolute;
            left: 25%;
            display: block;
            height: 3px;
            width: 50%;
            background: $c-white;
            border-radius: 5px;
            opacity: 1;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 16px;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 22px;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 28px;
                transform-origin: left center;
            }
        }

        &--opened {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 13px;
                    left: 15px;
                }

                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 30px;
                    left: 15px;
                }
            }
        }
    }

    .header__arrows-nav {
        width: 48px;
        right: 10px;
        bottom: 10px;
        border: 4px solid $c-black;

        button {
            left: -7px;
            padding: 12px 10px;
        }
    }

}