html {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    overflow: hidden;
    color: #d5d5d5;
    background-color: $c-on-background;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;

    transition: all $base-duration ease-in-out;

    &.content-loaded {
        background-color: $c-accent;
    }
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: $c-white;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

a {
    text-decoration: none;
    transition: all $base-duration ease-in-out;
}

p {
    margin-bottom: 10px;
}

figure {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0 140px;
    overflow: hidden;
}

.page-content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    background-color: $c-on-background;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    backface-visibility: hidden;
}

/* buttons */
.btn-primary {
    display: inline-block;
    position: relative;
    padding: 0.8em 2.1em;
    margin-bottom: 0.75em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid $c-accent;
    color: $c-white;
    text-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    font-family: 'Poppins', Helvetica, sans-serif;
    transition: all $base-duration ease-in-out;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $c-accent;
    color: $c-white;
    border: 2px solid $c-accent;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.content-area {
    position: absolute;
    right: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 380px);
}

.animated-sections {
    position: relative;
    height: 100%;
    perspective: 1500px;
    backface-visibility: hidden;
    border: 4px solid $c-white;
    border-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.animated-section {
    position: absolute;
    background-color: $c-on-background;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 60px;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;

    &--active {
        opacity: 1;
        overflow: auto;
        visibility: visible;
        z-index: 99;
    }
}

.page-title {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    margin-bottom: 30px;
}

.page-title h2 {
    position: relative;
    font-size: 32px;
    z-index: 1;
}

.page-title h2 span {
    color: $c-accent;
}

.page-title:after {
    position: absolute;
    opacity: 0.45;
    top: 10px;
    right: 0;
    content: '';
    height: 30px;
    width: 50px;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        $c-accent,
        $c-accent 1px,
        transparent 0px,
        transparent 100%
    );
    background-size: 6px 6px;
    z-index: 0;
}

.title-block {
    position: relative;
    text-align: center;
}

.title-block h2 {
    color: $c-white;
    font-size: 60px;
    line-height: 74px;
    margin: 0;
    text-align: center;
}

/* --- White Spaces --- */
.white-space-30 {
    padding-bottom: 30px;
}

.white-space-50 {
    padding-bottom: 50px;
}

/* --- End White Spaces --- */

.block-title {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;

    h3 {
        font-size: 21px;
        z-index: 1;

        span {
            color: $c-accent;
        }
    }

    &::after {
        position: absolute;
        opacity: 0.45;
        top: 10px;
        right: 0;
        content: '';
        height: 20px;
        width: 30px;
        background-image: -webkit-repeating-radial-gradient(
            center center,
            $c-accent,
            $c-accent 1px,
            transparent 0px,
            transparent 100%
        );
        background-size: 6px 6px;
        z-index: 0;
    }
}

.animated-bg {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

@media only screen and (max-width: 1280px) {
    .page {
        padding-left: 30px;
    }

    .header {
        max-width: 330px;
    }

    .content-area {
        max-width: calc(100% - 330px);
    }
}

@media only screen and (max-width: $tablet) {
    .animated-sections {
        border: none;
    }

    .animated-bg {
        display: none;
    }

    .title-block h2 {
        font-size: 48px;
        line-height: 56px;
        margin: 0 0 10px;
        text-align: center;
    }

    .page {
        padding: 0;
    }

    .page-title {
        margin-bottom: 16px;
    }

    .page-content {
        padding: 0;
        margin: 0;
        border-radius: 0;
        min-height: 100%;
    }

    .content-area {
        max-width: 100%;
    }

    .animated-section {
        border-radius: 0;
        overflow: auto !important;
    }
}

@media only screen and (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }
}
